button {
  color: var(--background);
  border-radius: 1.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  width: 100%;
  cursor: pointer;
}
button:hover {
  box-shadow: var(--shadow-sm);
}

.primary {
  background-color: var(--darkblue);
}
.secondary {
  background-color: var(--lightblue);
}

@media screen and (min-width: 640px) {
  button {
    min-width: 10rem;
  }
}
