.simple-input__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.simple-input__container label {
  color: var(--darkTextColor);
}

.simple-input__container input {
  padding: 0.4rem;
  font-size: 1.2rem;
  color: var(--inputText);
}

.simple-input__container input:focus {
  outline: none;
}
