.age__container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.age-select__container {
  width: 100%;
}

.age-confirm__container {
  width: 100%;
}

.age-confirm__container div div {
  display: flex;
  align-items: center;
  color: var(--inputText);
}
.age-confirm__container label {
  font-size: 0.7rem;
}

@media screen and (min-width: 640px) {
  .age__container {
    flex-direction: row;
  }
}
