.age__container {
  display: flex;
  gap: 1rem;
}

.age-select__container {
  width: 50%;
}

.age-confirm__container {
  width: 50%;
}

.age-confirm__container div div {
  display: flex;
  align-items: center;
  color: var(--inputText);
}
.age-confirm__container label {
  font-size: 0.7rem;
}
